g path.float {
	-webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 3s ease-in-out alternate infinite;
          animation: float 3s ease-in-out alternate infinite;
}
.float1 {
	-webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 2s ease-in-out alternate infinite;
          animation: float 2s ease-in-out alternate infinite;
}
.float2 {
	-webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 4s ease-in-out alternate infinite;
          animation: float 4s ease-in-out alternate infinite;
}

.float3 {
	-webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 2.5s ease-in-out alternate infinite;
          animation: float 2.5s ease-in-out alternate infinite;
}


@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(8px);
            transform: translatey(8px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    // box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    // box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(8px);
            transform: translatey(8px);
  }
  100% {
    // box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}




.float-team-title {
    position: -webkit-sticky;
    position: sticky;
    top: 152px;
}

.relative-float {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        min-height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        // -webkit-align-items: center;
        -ms-flex-align: center;
        // align-items: center;
    }


    .float-contact-text {
        position: -webkit-sticky;
        position: sticky;
        top: 120px;
        padding-bottom: 30px;
    }
    
   