
@media  (min-width: 768px) {


  
.title-effect-one {
    background:linear-gradient(166deg, transparent 15%, #F25A38 15%);
     background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: 100%;
    height:100%;
  }
  
  .title-effect-two {
    background:linear-gradient(166deg, transparent 25%, #fff 25%);
     background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: 100%;
    height:100%;
  }
  
  .title-effect-three {
    background:linear-gradient(166deg, transparent 25%, #001D63 25%);
     background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: 100%;
    height:100%;
  }

  .title-effect-four {
    background:linear-gradient(166deg, transparent 25%, #fff 25%);
     background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: 100%;
    height:100%;
  }

  .title-effect-six {
    background:linear-gradient(343deg, transparent 25%, #F25A38 25%);
     background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: 100%;
    height:100%;
  }

  .title-effect-seven {
    background:linear-gradient(166deg, transparent 25%, #fff 25%);
     background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: 100%;
    height:100%;
  }

  .title-effect-eight {
    background:linear-gradient(166deg, transparent 12%, #001D63 12%);
     background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: 100%;
    height:100%;
  }

  .title-effect-nine {
    background:linear-gradient(166deg, transparent 25%, #F25A38 25%);
     background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: 100%;
    height:100%;
  }


}


  